* {
    margin: 0;
    padding: 0;
}

:root {
/*Primary*/
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

/*Neutral*/
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);

/*Gradients*/
--background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
--circle: linear-gradient(hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 18px;
    font-family:"Hanken Grotesk", system-ui;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}